.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
}

.tombol {
  border-radius: 45px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.19);
}

.cari {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;

}

.tambah {
  float: right;
}

table tbody tr td a {
  margin-left: 3px;
}

.nav-link {
  color: black;


}

@media (max-width: 576px) {
  .nav {
    justify-content: space-around;
  }
}